$primary: #404258;
$secondary: #474e68;
$tertiary: #6b728e;
$neutral: #ffffff;
$gradient-1: linear-gradient(
  0deg,
  #{$primary} 0%,
  #{$secondary} 33%,
  #50577a 66%,
  #{$tertiary} 100%
);
$gradient-2: linear-gradient(62deg, #{$neutral} 0%, #f0f0f0 100%);
$gradient-3: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
$gradient-4: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$gradient-5: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

/* DASHBOARD ELEMENT STYLES */

.widget-row {
  height: 20em;
  padding: 1em;
}

.top-project-card {
  width: 100%;
  background-color: $neutral;
  background-image: $gradient-4;
  min-height: 7em;
}

.empty-card {
  width: 100%;
  text-align: center;
}

.widget {
  height: 100%;
  width: 95%;
  border-radius: 1em;
  padding: 1em;
  background-color: $tertiary;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.widget-area {
  padding: 1em;
  gap: 1em;
  margin-top: 1em;
  display: flex;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: fit-content;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.dash-content-area {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 85%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "content-area-header"
    "content-area-content";
  grid-area: content-area;
}

.dash-content-area {
  /* background-color: #8ec5fc; */
  background-image: $gradient-4;
}

.dash-content-area-header {
  grid-area: content-area-header;
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  gap: 10px;
}

.dash-content-area-content {
  grid-area: content-area-content;
  overflow-y: auto;
}

/* Responsive */

#backToDashBtn,
#backToProjectListBtn {
  height: 50px;
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: $primary;
  border-color: var(--primary);
}

.btn-danger {
  color: #fff;
  background-color: #ff0000;
  border: 1px solid #ff0000;
}

.btn-light {
  color: #0000;
  background-color: #ebedee;
  border: 1px solid #ebedee;
}

.btn-dark {
  color: #fff;
  background-color: #343434;
  border: 1px solid #343434;
}
