/* RESET */

  /* PROJECT LIST PAGE ELEMENTS */
  
  .project-table-background {
    border-radius: 1em !important;
    background-color: var(--neutral);
    border: 1px solid var(--tertiary);
    padding: 1em;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
  }
  
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  
  .text-center{
    text-align: center; 
  }
  
  .option-holder{
    margin: 1em 0 1em 0;
  }
  
  
  .btn {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }
  
  .btn-danger{
    color: #fff;
    background-color: #ff0000;
    border: 1px solid #ff0000;
  }
  
  .btn-light{
    color: #0000;
    background-color: #ebedee;
    border: 1px solid #ebedee;
  }
  
  .btn-dark{
    color: #fff;
    background-color: #343434;
    border: 1px solid #343434;
  }