$primary: #404258;
$secondary: #474e68;
$tertiary: #6b728e;
$neutral: #ffffff;
$gradient-1: linear-gradient(
  0deg,
  #{$primary} 0%,
  #{$secondary} 33%,
  #50577a 66%,
  #{$tertiary} 100%
);
$gradient-2: linear-gradient(62deg, #{$neutral} 0%, #f0f0f0 100%);
$gradient-3: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
$gradient-4: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$gradient-5: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

.dash-sidebar {
  background-color: $primary;

}

.dash-content-area {
  padding: 1.5em;
}

.dash-container {
  display: grid;
  gap: 0px 0px;
  height: 100vh;
}

/* For small scrreen */
@media screen and (max-width: 992px) {
  .dash-container {
    grid-template-columns: 100%;
    grid-template-rows: 100% 20%;
    grid-auto-flow: column;
    grid-template-areas:
      "main-area"
      "sidebar";
  }
}

/* For big scrreen */
@media screen and (min-width: 992px) {
  .dash-container {
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas: "sidebar main-area";
  }
}

.dash-sidebar {
  grid-area: sidebar;
}


.dash-content-area {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:0% 15% 85%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hidden"
    "content-area-header"
    "content-area-content";
  grid-area: content-area;
}