$primary: #404258;
$secondary: #474E68;
$tertiary: #6B728E;
$neutral: #ffffff;
$gradient-1: linear-gradient(0deg, #{$primary} 0%, #{$secondary} 33%, #50577a 66%, #{$tertiary} 100%);
$gradient-2: linear-gradient(62deg, #{$neutral} 0%, #f0f0f0 100%);
$gradient-3: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
$gradient-4: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$gradient-5: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

.dash-sidebar {
  background-color: $primary;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.custom-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
  width: 80%;
  height: 50px;
  font-size: 18px;
  color: black;
}

.custom-button:hover {
  background-color: #2980b9;
}
